<% content_for :title do -%>
following
<%end -%>
<% content_for :body_id do -%>
home
<%end -%>
<% content_for :header_id do -%>
home
<%end -%>



<div class="content roundbox">
    <% if @current_user%>
        <%= render :partial => "/home/sidebar", :locals => {:page=>:following, :user=>@current_user, :topics=>@topics} -%>
	<% else %>
	    <%= render :partial => "/home/loggedOutSidebar", :locals => {:topics=>@topics} -%>
    
	<% end %>
	
	<div class="followings">
		
		<h2>Following</h2>
		 <%= render :partial => "following", :collection => @following, :locals => {:myself=>@user, :current_user=>@current_user} -%>
	</div>
</div>