<% content_for :title do -%>
Join
<%end -%>

<div class="login_or_register roundbox" id="register">
	<div class="sidebar login_side">
		<H2>Already a member?</H2><br />
		<%= link_to "Sign in!", new_user_session_path, :class=>"button" %>
	</div>
	<div class="register_form">
		<H2>Join TwitClone!</H2>
		<% form_for @user, :url => account_path do |f| %>
		  <%= f.error_messages %>
		  <%= render :partial => "form", :object => f %>
		  <%= f.submit "Register", :class=>"button" %>
		<% end %>
	</div>


</div> 
 
