<% content_for :title do -%>
replies
<%end -%>
<% content_for :body_id do -%>
home
<%end -%>
<% content_for :header_id do -%>
home
<%end -%>

<% content_for :js do%>
<%= javascript_include_tag "user" %>
<%= javascript_include_tag "menu" %>
<% end %>


<div class="content roundbox">
	<%= render :partial => "sidebar", :locals => {:page=>:replies, :user=>@current_user, :topics=>@topics} -%>
    
	
	<div class="statuses">
		
		<h2>Replies</h2>
		 <%= render :partial => "status", :collection => @replies -%>
	</div>
</div>