@import url("reset.css");


body { background-color: #eee; color: #606060; }

body, p, ol, ul, td, input {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size:   18px;
  line-height: 18px;
	margin:0px;
	padding:0px;
}

h1, h2, h3 {
	font-family: Century Gothic, Apple Gothic, sans-serif;
	color: #707070; text-shadow: #eee 0px 1px 0px;
}

h2 {
	margin-bottom: 0.25em;
	font-size: 120%;
}

span.user {
	font-family: Century Gothic, Apple Gothic, sans-serif;
	padding-right: 0.3em;
	font-weight: bold;
}

div#heading {
	background: url(../images/HeaderGradient.png);
	background-repeat: repeat-x;
	background-position: top left;
    height: 80px;
	width:100%;
	margin:0px;
	padding:0px;
}

#logo {
	width: 400px;
	height: 80px;
	background-image: url(../images/Logo2.png);
	position: absolute;
	top: -0.5em;
}
#logo span {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

span#registration {
	float: right;
	margin-top: 2.2em;
	margin-right: 0.33em;
	color: #bdf;
}

div.date a { color: #333;
	text-decoration: none;
	text-shadow: #FFF 0px 1px 1px; }
div.date a:visited { color: #333;
	text-shadow: #FFF 0px 1px 1px; }
div.date a:hover { color: #55C; text-shadow: #FFF 0px 1px 1px;}

div.content {
	margin-left: auto;
	margin-right: auto;
	width: 28em;
	moz-border-radius: 8px; -webkit-border-radius: 8px; border: 1px solid #A0A0A0; padding: 10px;
	
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(#E0E0EE), to(#C0C0C0));
}

div.sidebar {
	moz-border-radius: 8px; -webkit-border-radius: 8px; border: 10px solid rgba(150,150,180,0.6); padding: 10px;
	
	width: 12em;
	height: 28em;
	position: absolute;
	right: 0.5em;
	top: 4.5em;
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(rgba(150,150,180,0.1)), to(rgba(150,150,180,0.5)));
}

div.sidebar input {
	position:relative;
	right: -2em;
}


div.status {
	margin-left: auto;
	margin-right: auto;
	width: 22em;
	moz-border-radius: 8px; -webkit-border-radius: 8px; border: 2px solid #A0A0A0; padding: 10px;
	margin-bottom: 0.25em;
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(#D0D0D0), to(#B0B0B0));
}

div.detail {
	font-size: 150%;
	line-height: 110%;
}

div.detail a { color: #333;
	text-decoration: none;
	text-shadow: #FFF 0px 1px 1px; }
div.detail a:visited { color: #333;
	text-shadow: #FFF 0px 1px 1px; }
div.detail a:hover { color: #55C; text-shadow: #FFF 0px 1px 1px;}

div.date {
	font-size: 60%;
	color: #666;
}

p.flash {
	margin-left: auto;
	margin-right: auto;
	width: 10em;
	text-align: center;
	moz-border-radius: 2px; -webkit-border-radius: 2px; border: 1px solid #FFF; padding: 4px;
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(#FBFBFF), to(#DBDBEE));
	margin-bottom: 1em;
	color: #555; text-shadow: #88f 0px 0px 10px;
}

hr {
	clear: both;
	margin-top: 2em;
	width: 80%;
	color: #D0D0D0;
	background-color: #D0D0D0;
	height: 1px;
}
textarea#status_content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-size: 120%;
}

input#status_submit {
	moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #A0A0E0;
	padding: 0.25em 0.5em 0.25em 0.5em;
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(#F0F0F0), to(#D0D0D0));
	color: #707070; text-shadow: #eee 0px 1px 0px;
	float: right;
}

input#status_submit:hover, div.sidebar input:hover {
	color: #6060B0; text-shadow: #bbf 0px 0px 10px;
}

input#status_submit:active, div.sidebar input:active {
	border: 1px solid #A0A0A0;
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(#B0B0B0), to(#C0C0C0));
}

input#user_session_submit, input#user_submit, div.sidebar input{
	moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #A0A0E0;
	padding: 0.25em 0.5em 0.25em 0.5em;
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(#F0F0F0), to(#D0D0D0));
	color: #707070; text-shadow: #eee 0px 1px 0px;
	width: 5em;
	position: relative;	
}

input#user_session_submit {
	right: -12.5em;
	top: -1.7em;
}

input#user_submit {
	right: -5.25em;
}

input#user_session_submit:hover, input#user_submit:hover {
	color: #6060B0; text-shadow: #bbf 0px 0px 10px;
}

input#user_session_submit:active, input#user_submit:active {
	border: 1px solid #A0A0A0;
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(#B0B0B0), to(#C0C0C0));
}

div.login_or_register {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	
	width: 30em;
	moz-border-radius: 8px; -webkit-border-radius: 8px; border: 1px solid #A0A0A0;
	
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(#FFF), to(#EEE));
	
}

div.register_side, div.login_side {
	width: 9em;
	float: right;
	moz-border-radius-topright: 8px; moz-border-radius-bottomright: 8px;
	-webkit-border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; 
	border-left: 1px solid #A0A0A0;
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(#DFD), to(#CDC));
	padding: 10px;
}

div.register_side {
	height: 8em;
	
}

div.login_side {
	height: 11em;
	
}

div.register_side a, div.login_side a{

	moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #A0A0E0;
	padding: 0.15em 1em 0.15em 1em;
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(#B0B0DF), to(#9090BF));
	color: #707070; text-shadow: #666 0px -1px 0px;
	width: 8em;
	position: relative;
	color: #EEE;
}

div.register_side a {
	right: -3.5em;
	top: -0.3em;
}

div.login_side a {
	right: -2.7em;
	top: -0.3em;
}

div.register_side a:hover, div.login_side a:hover {
	color: #eef; text-shadow: #00f 0px 0px 10px;
	border: 1px solid #55e;
}

div.register_side a:active, div.login_side a:active {
	border: 1px solid #A0A0A0;
	background: -webkit-gradient(linear, left top, left bottom, 
		    from(#9090BF), to(#B0B0DF));
}

div.login_or_register h2 {
	text-align: left;
	font-size: 90%;
}

div.login_form, div.register_form {
	padding: 10px;
}

div.login_form {
	height: 8em;
	
}

div.register_form {
	height: 11em;
	
}

div.login_form label, div.register_form label {
	text-align: right;
	float: left;
	width: 7em;
	padding-top: 0.1em;
	padding-right: 0.2em;
	margin-top: 0.5em;
	
}


div.login_form input, div.register_form input {
	width: 10em;
	margin-top: 0.5em;
}

div.login_form input#user_session_remember_me{
	margin-top:0.8em;
	width: 1em;
}

span#remember_me label{
	float: none;
}

span#remember_me{
	position: relative;
	right: -0.3em;
}



pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #bdf;
	text-decoration: none;
	text-shadow: #8ac 0px -1px 0px; }
a:visited { color: #bdf;
	text-shadow: #8ac 0px -1px 0px; }
a:hover { color: #fff; text-shadow: #fff 0px 0px 10px;}

.fieldWithErrors {
	margin:0px;
	padding:0px;
	display: inline;
	color: red;
}

#errorExplanation {
	width: 11em;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
 	margin-bottom: 20px;
	background-color: #f0f0f0;
 	position: absolute;
	top: 9.5em;
	left: 0.5em;
}

#errorExplanation h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  font-size: 75%;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  font-family: Century Gothic, Apple Gothic, sans-serif;
  color: #333;
  font-size: 80%;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
