<div class="status detail">
		
		 <%= render :partial => "statusDetail", :object => @status, :locals => {:user=>@user} -%>
		<div class="user"><a href="<%= statuses_path :login=>@user.login %>"><%=h @user.login%></a></div>
		<% if @current_user && (@user == @current_user)%>
		    <div class="delete"><a href="<%= confirm_delete_status_path(:login=>@user.login, :id=>@status.id) %>">Delete</a></div>
		<% end %>
</div>
